<!--------------------------------------------------------------------------------------------------------------------->
<!-- App.vue -->
<!--------------------------------------------------------------------------------------------------------------------->

<template>
  <div id="app">
    <b-navbar class="navbar">
      <b-navbar-brand>
        <img
            src="./assets/FetchRewardsHorizontalLogo.png"
            class="mainLogo d-none d-md-inline-block"
            width="248px"
            alt="Fetch Rewards Main Logo"
        />
      </b-navbar-brand>
    </b-navbar>
    <List />
  </div>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .navbar {
  }
}
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
//--------------------------------------------------------------------------------------------------------------------
import List from './components/list.vue'
//--------------------------------------------------------------------------------------------------------------------

export default {
  name: 'App',
  components: {
    List
  }
}
</script>

<!--------------------------------------------------------------------------------------------------------------------->
